#navbar {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: auto;
	background-color: #333;
	position: fixed;
	width: 100%;
}

#navbarItem {
	float: left;
}

#navbarLink {
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	text-shadow:
	-1px -1px 0 #000,
	1px -1px 0 #000,
	-1px 1px 0 #000,
	1px 1px 0 #000;
}

#navbarLink:hover {
	background-color: #111;
}

#sidebar {
	list-style-type: none;
	margin: 0;
	padding: 0;
	width: 25%;
	background-color: #aaa59d;
	position: fixed;
	height: 100%;
	overflow: auto;
}

#sidebarLink {
	display: block;
	color: white;
	padding: 8px 16px;
	text-decoration: none;
	color: #fff;
    text-shadow: #000 0px 0px 1px;
    -webkit-font-smoothing: antialiased;
}


#sidebarLink.active {
	background-color: #555;
	color: white;
}

#sidebarLink:hover:not(.active) {
	background-color: #555;
	color: white;
}

#outline {
	color: #fff;
    text-shadow: #000 0px 0px 1px;
    -webkit-font-smoothing: antialiased;
}